<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %} {% load pwa %} {% progressive_web_app_meta %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Error en los static no me toma los estilos css  -->
    <link rel="stylesheet" href="{% static 'css/estilo.css'%}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css'%}" />

    <!--Error en los static no me toma los js  -->
    <script src="{% static 'js/jquery-3.5.1.min.js'%}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js'%}"></script>




    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>


    <!--Estamos añadiendo el slider a la imagen-->
    <script>
        $(document).ready(function() {
            $('.bxslider').bxSlider({
                mode: 'fade',
                captions: true,
                slideWidth: 600
            });

        });
    </script>


    <!--Aca estamos añadiendole solo letras al label-->
    <script>
        function soloLetras(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toLowerCase();
            letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
            especiales = [8, 37, 39, 46];

            tecla_especial = false
            for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }

            if (letras.indexOf(tecla) == -1 && !tecla_especial)
                return false;
        }

        function limpia() {
            var val = document.getElementById("miInput").value;
            var tam = val.length;
            for (i = 0; i < tam; i++) {
                if (!isNaN(val[i]))
                    document.getElementById("miInput").value = '';
            }
        }
    </script>
    <!--Se estan añadiendo hide con un boton show para mostrar los valores ocultos en el formulario-->
    <script type="text/javascript">
        $(document).ready(function() {
            $("#hide").click(function() {
                $("#element").hide();
            });
            $("#show").click(function() {
                $("#element").show();
            });
        });
    </script>

    <title>Document</title>


</head>

<body>

    <header>
        <div id="menu">
            <img src="{% static 'img/logo.png'%}" alt="Logo mis perris">
            <a href="{% url 'Trabajo_Perrits_good' %}">inicio</a>
            <a href="#">Quienes somos</a>
            <a href="{% url 'rescatados' %}">Servicios</a>


            <a href="#" id="show">Contactanos</a>
            <div id="element" style="display: none;">
                <br><br>

                <div id="close"><a href="#" id="hide">X Salir</a></div>
                <form method="post" action=""><br>

                    <label>Registro Nuevo Usuario</label>
                    <br><br><br>
                    <label>Correo Electrónico: </label>
                    <input type="text" name="email" required placeholder="nombre@dominio.cl">
                    <label>Run:</label>
                    <input type="text" name="run" minlength="8" required placeholder="0000000-0">
                    <label>Nombre Completo: </label>
                    <input type="text" onkeypress="return soloLetras(event)" onblur="limpia()" id="miInput">

                    <label>Fecha de Nacimiento:</label>
                    <input type="date" min="0000-00-00" max="2001-01-01">

                    <label>Telefono de Contacto:</label>
                    <input type="number" minlength="8" required placeholder="+569">


                    <label>Region</label>
                    <select name="region">
                        <option>Seleccione</option>
                      <option >	Arica y Parinacota </option>
                      <option >Tarapacá</option>
                      <option >Antofagasta</option>
                      <option >	Atacama </option>
                      <option >Coquimbo</option>
                      <option >Valparaíso</option>
                      <option >Metropolitana</option>
                      <option >	O'Higgins</option>
                      <option >	Maule</option>
                      <option > Ñuble</option>
                      <option >	Biobío</option>
                      <option >La Araucanía</option>
                      <option >Los Ríos </option>
                      <option >Los Lagos</option>
                      <option >Aysén </option>
                      <option >Magallanes</option>
                
                
                    </select><br><br>
                    <label>Ciudad</label>
                    <select name="ciudad">
                        <option>Seleccione</option>
                        <option>Arica</option>
                        <option>Santiago</option>
                        <option>Melipilla</option>
                        <option>Etc...</option>



                    </select><br><br>


                    <label>Tipo de Vivienda</label>
                    <select name="Tipo">
                        <option >Seleccione</option>
                        <option>Casa con patio grande</option>
                        <option>Casa con patio pequeño</option>
                        <option>Casa sin patio</option>
                        <option>Departamento</option>
                    </select>

                    <br><br><br><br>



                    <button>Enviar</button><br><br>

                </form>


            </div>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Cierre de sesion</a> {% else %}
            <a href="{% url 'login' %}">Inicio de sesion</a> {% endif %}

        </div>
        <!--
            <div id="perro">
            <img  src="img/perro.png" alt="perrox">
        </div>  -->
        <div class="slide">
            <div class="bxslider">
                <div><img src="{% static 'adoptados/Tom.jpg' %} " title="Estamos Felices de tener a Tom en casa. Es un super fiel compañero."></div>
                <div><img src="{% static 'adoptados/Apolo.jpg' %}" title="Desde que adoptamos a apolo la vida a sido mas feliz para nosotros."></div>
                <div><img src="{% static 'adoptados/Duque.jpg' %}" title="Duque es un perro fiel que me acompaña en todas, es mi mejor amigo."></div>
            </div>

        </div>


        <div id="info">
            <div id="num">+56987765431</div>
            <div id="resca">Rescate y adopcion de programadores callejeros</div>
            <div id="imagenes">
                <img src="{% static 'img/facebook_48px.png' %}" alt="feibu">
                <img src="{% static 'img/google_48px.png' %}" alt="googke">
                <img src="{% static 'img/instagram_48px.png' %}" alt="inta">
                <img src="{% static 'img/gmail_48px.png' %}" alt="yimail">
            </div>
        </div>
    </header>
    {% block content %} {% endblock %}
    <footer>
        <p>Desarrollo web y mobile</p>
    </footer>
</body>

</html>